bug.json
{
    "nodeId": "CNESST",
    "serializedValue": {
        "type": "Scope",
        "actions": {
            "Filtrer_dossier_CNESST": {
                "type": "Query",
                "inputs": {
                    "from": "@variables('ListeDesDossier')",
                    "where": "@and(\r\n  contains(toLower(item()), 'cnesst'),\r\n  contains(\r\n    toLower(item()),\r\n    toLower(formatDateTime(outputs('Ajouter_une_ligne_à_un_tableau')?['body/Date d''événement CNESST']),'yyyy-MM'))\r\n  )\r\n\r\n"
                }
            },
            "Condition_Dossier_unique_CNESST": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(body('Filtrer_dossier_CNESST'))",
                                1
                            ]
                        }
                    ]
                },
                "actions": {
                    "Dossier_trouvé_CNESST": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "Dossier trouvé",
                            "value": true
                        },
                        "runAfter": {
                            "Nom_Dossier_CNESST": [
                                "Succeeded"
                            ]
                        },
                        "metadata": {
                            "operationMetadataId": "53399dbb-48c7-4775-adce-9679ca44bbf7"
                        }
                    },
                    "Nom_Dossier_CNESST": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "Nom de dossier Invalidité ou CNESST",
                            "value": "@first(body('Filtrer_dossier_CNESST'))"
                        },
                        "metadata": {
                            "operationMetadataId": "fc6eb02e-c251-4610-b44e-eabd008d812d"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "LoopCNESST": {
                            "type": "Foreach",
                            "foreach": "@body('Filtrer_dossier_CNESST')",
                            "actions": {
                                "DEBUG_jour_CNESST": {
                                    "type": "Compose",
                                    "inputs": "@int(\r\n  substring(\r\n    substring(\r\n      if(\r\n        contains(split(items('LoopCNESST')?['Nom'], '.')[0], '_'),\r\n        last(split(split(items('LoopCNESST')?['Nom'], '.')[0], '_')),\r\n        last(split(split(items('LoopCNESST')?['Nom'], '.')[0], ' '))\r\n      ),\r\n      0, 10\r\n    ),\r\n    8, 2\r\n  )\r\n)"
                                },
                                "Plus_récent_CNESST": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@outputs('DEBUG_jour_CNESST')",
                                                    "@variables('JourPlusRecent')"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Comparaison_Jour_récent_CNESST": {
                                            "type": "Scope",
                                            "actions": {
                                                "MaxDay_CNESST": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "JourPlusRecent",
                                                        "value": "@outputs('DEBUG_jour_CNESST')"
                                                    }
                                                },
                                                "DossierPlusRécent_CNESST": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "DossierPlusRecent",
                                                        "value": "@items('LoopCNESST')?['Nom']"
                                                    },
                                                    "runAfter": {
                                                        "MaxDay_CNESST": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Nom_Dossier_récent_CNESST": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Nom de dossier Invalidité ou CNESST",
                                                        "value": "@variables('DossierPlusRecent')"
                                                    },
                                                    "runAfter": {
                                                        "DossierPlusRécent_CNESST": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "metadata": {
                                                        "operationMetadataId": "fc6eb02e-c251-4610-b44e-eabd008d812d"
                                                    }
                                                },
                                                "Dossier_trouvé_récent_CNESST": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Dossier trouvé",
                                                        "value": true
                                                    },
                                                    "runAfter": {
                                                        "Nom_Dossier_récent_CNESST": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "metadata": {
                                                        "operationMetadataId": "53399dbb-48c7-4775-adce-9679ca44bbf7"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Dossier_Non_trouvé_récent_CNESST": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Dossier trouvé",
                                                    "value": false
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "53399dbb-48c7-4775-adce-9679ca44bbf7"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "DEBUG_jour_CNESST": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            }
                        },
                        "Condition_Dossier_non_trouvé_CNESST": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('Dossier trouvé')",
                                            "False"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Terminer_CNESST": {
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Cancelled"
                                    },
                                    "metadata": {
                                        "operationMetadataId": "86e24af1-884a-4a91-a103-864acc780cf2"
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            },
                            "runAfter": {
                                "LoopCNESST": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "runAfter": {
                    "Filtrer_dossier_CNESST": [
                        "Succeeded"
                    ]
                }
            }
        }
    },
    "allConnectionData": {},
    "staticResults": {},
    "isScopeNode": true,
    "mslaNode": true
}
